@model IEnumerable<Trial.Models.DısOzellik>
@{
    ViewBag.Title = "OzellikDetay";
}


@foreach (var item in Model)
{

    if (ViewBag.UserId == item.UserId.ToString())
    {
        if (item.OzellikId == 1)
        {
            <h4>Buraya gelmelisin</h4>
        }
        else if (item.OzellikId == 2)
        {
            <h4>burası da olur</h4>
        }
        else if (item.OzellikId == 3)
        {
            <h4>burası da olur</h4>
        }
        else if (item.OzellikId == 4)
        {
            <h4>burası da olur</h4>
        }
        else if (item.OzellikId == 5)
        {
            <h4>burası da olur</h4>
        }
        else if (item.OzellikId == 6)
        {
            <h4>burası da olur</h4>
        }
        else if (item.OzellikId == 7)
        {
            <h4>burası da olur</h4>
        }
        else if (item.OzellikId == 8)
        {
            <h4>burası da olur</h4>
        }
        else if (item.OzellikId == 9)
        {
            <h4>burası da olur</h4>
        }
        else if (item.OzellikId == 10)
        {
            <h4>burası da olur</h4>
        }
        else if (item.OzellikId == 11)
        {
            <h4>burası da olur</h4>
        }
        else
        {
            <h4>burası da olur</h4>
        }






















    }


}
