
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <style>
       
    </style>
    <link href="~/Css/ModaIndex.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <link href="~/Css/StyleSheet1.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="widht=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
</head>
<body>



    <div class="topnav">

        <a href="#" class="baslık">MODA</a>
        <a href="#" class="baslık">MAKYAJ</a>
        <a href="/Markalar/Index" class="baslık">MARKALAR</a>
        <a href="/Member/Register" class="smoothscrool">KAYDOL</a>

        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>


    </div>

    </body>
</html>